<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moleculer Blog Example</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!-- Scripts-->
    <script src="assets/js/main.js"></script>
    <!--script(src='/assets/js/app.js')-->
</head>
<html lang="en">

<body class="">
    <div id="app">
        <div id="wrapper">
            <header id="header">
                <h1><a href="/">Mol BlogEx</a></h1>
                <nav class="links">
                    <ul>
                        <li><a href="/category/General">General</a></li>
                        <li><a href="/category/Tech">Tech</a></li>
                        <li><a href="/category/Social">Social</a></li>
                        <li><a href="/category/News">News</a></li>
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search"><a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" action="/search"><input type="text" name="query"
                                    placeholder="Search"></form>
                        </li>
                        <li class="menu"><a class="fa-bars" href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>
            <div id="main">
                <section id="intro"><a class="logo" href="#"><img src="/images/logo.png" alt=""></a>
                    <header>
                        <h2><a href="/">Moleculer</a></h2>
                        <p>Blog example site with <a href="http://moleculer.services">Moleculer</a></p>
                    </header>
                </section><!-- Post-->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="/post/XJpR7nAKx7ijo43jp1Qq/A-eligendi-numquam-alias-quos-aperiam-nihil.">A
                                    eligendi numquam alias quos aperiam nihil.</a></h2>
                            <p></p>
                        </div>
                        <div class="meta"><time class="published">October 10, 2022 2:51 PM</time><a class="author"
                                href="/author/G3Wr7G5zyBUO9XaOEZBa"><span class="name">John Doe</span><img
                                    src="https://s3.amazonaws.com/uifaces/faces/twitter/calebjoyce/128.jpg" alt=""></a>
                        </div>
                    </header><a class="image featured"
                        href="/post/XJpR7nAKx7ijo43jp1Qq/A-eligendi-numquam-alias-quos-aperiam-nihil."><img
                            src="/images/covers/16.jpg" alt=""></a>
                    <p>Enim est rerum ratione quos non labore. Aut qui aliquid. Expedita asperiores quos mollitia et
                        voluptatem et. Omnis consequatur architecto omnis non. Et tempora tenetur sit beatae quas ipsam
                        consequ...</p>
                    <footer>
                        <ul class="actions">
                            <li><a class="button big"
                                    href="/post/XJpR7nAKx7ijo43jp1Qq/A-eligendi-numquam-alias-quos-aperiam-nihil.">Continue
                                    Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="/category/General">General</a></li>
                            <li><a class="icon fa-heart" href="/like/XJpR7nAKx7ijo43jp1Qq">17</a></li>
                            <li><a class="icon fa-comment" href="/post/XJpR7nAKx7ijo43jp1Qq#comments"></a></li>
                        </ul>
                    </footer>
                </article>
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="/post/ZB8OJnAQxJfKBYbKDjPX/Ut-minus-quia-magnam-quisquam-enim-quos.">Ut minus
                                    quia magnam quisquam enim quos.</a></h2>
                            <p></p>
                        </div>
                        <div class="meta"><time class="published">October 13, 2022 12:01 PM</time><a class="author"
                                href="/author/G3Wr7G5zyBUO9XaOEZBa"><span class="name">John Doe</span><img
                                    src="https://s3.amazonaws.com/uifaces/faces/twitter/calebjoyce/128.jpg" alt=""></a>
                        </div>
                    </header><a class="image featured"
                        href="/post/ZB8OJnAQxJfKBYbKDjPX/Ut-minus-quia-magnam-quisquam-enim-quos."><img
                            src="/images/covers/6.jpg" alt=""></a>
                    <p>Accusamus praesentium sint quis qui sapiente aut omnis reprehenderit. Quae numquam iure eligendi
                        natus ea labore quae libero voluptas. Beatae recusandae voluptas. Repellendus enim reprehenderit
                        cup...</p>
                    <footer>
                        <ul class="actions">
                            <li><a class="button big"
                                    href="/post/ZB8OJnAQxJfKBYbKDjPX/Ut-minus-quia-magnam-quisquam-enim-quos.">Continue
                                    Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="/category/General">General</a></li>
                            <li><a class="icon fa-heart" href="/like/ZB8OJnAQxJfKBYbKDjPX">13</a></li>
                            <li><a class="icon fa-comment" href="/post/ZB8OJnAQxJfKBYbKDjPX#comments"></a></li>
                        </ul>
                    </footer>
                </article>
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="/post/DeyxvOaMRvFboqmbKLZL/Cumque-cum-nemo-et-dolor-ipsum-fugit.">Cumque cum
                                    nemo et dolor ipsum fugit.</a></h2>
                            <p></p>
                        </div>
                        <div class="meta"><time class="published">October 9, 2022 11:25 AM</time><a class="author"
                                href="/author/Lo4RpXaOAQuVOKDVB8P2"><span class="name">Jane Doe</span><img
                                    src="https://s3.amazonaws.com/uifaces/faces/twitter/kimcool/128.jpg" alt=""></a>
                        </div>
                    </header><a class="image featured"
                        href="/post/DeyxvOaMRvFboqmbKLZL/Cumque-cum-nemo-et-dolor-ipsum-fugit."><img
                            src="/images/covers/7.jpg" alt=""></a>
                    <p>Quo dolorem est odio est. Animi nesciunt neque incidunt voluptate. Nisi praesentium sed est
                        recusandae quidem fugit voluptates.
                        Molestiae quas laborum nobis esse aut mollitia mollitia iste. Sint o...</p>
                    <footer>
                        <ul class="actions">
                            <li><a class="button big"
                                    href="/post/DeyxvOaMRvFboqmbKLZL/Cumque-cum-nemo-et-dolor-ipsum-fugit.">Continue
                                    Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="/category/Social">Social</a></li>
                            <li><a class="icon fa-heart" href="/like/DeyxvOaMRvFboqmbKLZL">21</a></li>
                            <li><a class="icon fa-comment" href="/post/DeyxvOaMRvFboqmbKLZL#comments"></a></li>
                        </ul>
                    </footer>
                </article>
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a
                                    href="/post/B9QEqvOY7qF0G5L0PMKN/Iusto-est-voluptatum-vero-qui-dolor-voluptatem-optio-quod.">Iusto
                                    est voluptatum vero qui dolor voluptatem optio quod.</a></h2>
                            <p></p>
                        </div>
                        <div class="meta"><time class="published">October 9, 2022 5:54 PM</time><a class="author"
                                href="/author/G3Wr7G5zyBUO9XaOEZBa"><span class="name">John Doe</span><img
                                    src="https://s3.amazonaws.com/uifaces/faces/twitter/calebjoyce/128.jpg" alt=""></a>
                        </div>
                    </header><a class="image featured"
                        href="/post/B9QEqvOY7qF0G5L0PMKN/Iusto-est-voluptatum-vero-qui-dolor-voluptatem-optio-quod."><img
                            src="/images/covers/14.jpg" alt=""></a>
                    <p>Aliquam aut quos ab. Alias corporis id molestias quos sit eos aut eos. Sed magnam quia esse.
                        Assumenda ipsum aut repellendus nostrum ut quia earum voluptatem. Occaecati saepe magnam officia
                        beatae...</p>
                    <footer>
                        <ul class="actions">
                            <li><a class="button big"
                                    href="/post/B9QEqvOY7qF0G5L0PMKN/Iusto-est-voluptatum-vero-qui-dolor-voluptatem-optio-quod.">Continue
                                    Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="/category/Tech">Tech</a></li>
                            <li><a class="icon fa-heart" href="/like/B9QEqvOY7qF0G5L0PMKN">17</a></li>
                            <li><a class="icon fa-comment" href="/post/B9QEqvOY7qF0G5L0PMKN#comments"></a></li>
                        </ul>
                    </footer>
                </article>
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="/post/KdoRvDJOxvfJr62J3Yq7/Saepe-vel-qui-dolore-occaecati-in-explicabo-ipsa.">Saepe
                                    vel qui dolore occaecati in explicabo ipsa.</a></h2>
                            <p></p>
                        </div>
                        <div class="meta"><time class="published">October 10, 2022 12:52 PM</time><a class="author"
                                href="/author/Lo4RpXaOAQuVOKDVB8P2"><span class="name">Jane Doe</span><img
                                    src="https://s3.amazonaws.com/uifaces/faces/twitter/kimcool/128.jpg" alt=""></a>
                        </div>
                    </header><a class="image featured"
                        href="/post/KdoRvDJOxvfJr62J3Yq7/Saepe-vel-qui-dolore-occaecati-in-explicabo-ipsa."><img
                            src="/images/covers/2.jpg" alt=""></a>
                    <p>Veniam nemo quos et. Dolor dolor fugiat soluta quo. Placeat mollitia ut aut aliquid ipsam nam
                        repellat sit. Rerum ea perferendis placeat sunt odit sunt sint autem.
                        Assumenda sunt illum nulla quide...</p>
                    <footer>
                        <ul class="actions">
                            <li><a class="button big"
                                    href="/post/KdoRvDJOxvfJr62J3Yq7/Saepe-vel-qui-dolore-occaecati-in-explicabo-ipsa.">Continue
                                    Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="/category/News">News</a></li>
                            <li><a class="icon fa-heart" href="/like/KdoRvDJOxvfJr62J3Yq7">14</a></li>
                            <li><a class="icon fa-comment" href="/post/KdoRvDJOxvfJr62J3Yq7#comments"></a></li>
                        </ul>
                    </footer>
                </article><!-- Pagination-->
                <ul class="actions pagination">
                    <li><a class="disabled button big previous" href="">Previous Page</a></li>
                    <li><a class="disabled button big next" href="#">Next Page</a></li>
                </ul>
            </div>
            <section id="sidebar">
                <!-- Intro-->
                <!-- Posts List-->
                <section>
                    <h2>Popular</h2>
                    <ul class="posts">
                        <li>
                            <article>
                                <header>
                                    <h3><a href="/post/EyPR5mG7x5Se52Oed4oD/Ut-quis-similique-eum-dolorem-recusandae.">Ut
                                            quis similique eum dolorem recusandae.</a></h3><time
                                        class="published">October 14, 2022 2:36 PM</time>
                                </header><a class="image"
                                    href="/post/EyPR5mG7x5Se52Oed4oD/Ut-quis-similique-eum-dolorem-recusandae."><img
                                        src="/images/covers/6.jpg" alt=""></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a
                                            href="/post/b38XmzAdxmHb8nMb5Dx6/Vero-deleniti-praesentium-ipsam-et-fuga-vel-rem-pariatur-harum.">Vero
                                            deleniti praesentium ipsam et fuga vel rem pariatur harum.</a></h3><time
                                        class="published">October 13, 2022 9:38 PM</time>
                                </header><a class="image"
                                    href="/post/b38XmzAdxmHb8nMb5Dx6/Vero-deleniti-praesentium-ipsam-et-fuga-vel-rem-pariatur-harum."><img
                                        src="/images/covers/12.jpg" alt=""></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="/post/Qa7RjKQ2xjhZKP6Zb0qM/Debitis-aut-ea-rerum-vel-deleniti.">Debitis
                                            aut ea rerum vel deleniti.</a></h3><time class="published">October 13, 2022
                                        4:55 PM</time>
                                </header><a class="image"
                                    href="/post/Qa7RjKQ2xjhZKP6Zb0qM/Debitis-aut-ea-rerum-vel-deleniti."><img
                                        src="/images/covers/14.jpg" alt=""></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="/post/ZB8OJnAQxJfKBYbKDjPX/Ut-minus-quia-magnam-quisquam-enim-quos.">Ut
                                            minus quia magnam quisquam enim quos.</a></h3><time
                                        class="published">October 13, 2022 12:01 PM</time>
                                </header><a class="image"
                                    href="/post/ZB8OJnAQxJfKBYbKDjPX/Ut-minus-quia-magnam-quisquam-enim-quos."><img
                                        src="/images/covers/6.jpg" alt=""></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="/post/db8ZGnO4xGF2yA127pJO/Animi-sit-et-nulla-a-aut-at-atque.">Animi
                                            sit et nulla a aut at atque.</a></h3><time class="published">October 13,
                                        2022 2:19 AM</time>
                                </header><a class="image"
                                    href="/post/db8ZGnO4xGF2yA127pJO/Animi-sit-et-nulla-a-aut-at-atque."><img
                                        src="/images/covers/8.jpg" alt=""></a>
                            </article>
                        </li>
                    </ul>
                </section><!-- About-->
                <section class="blurb">
                    <h2>About</h2>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
                        euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed
                        ultricies.</p>
                    <!--ul class="actions">
<li><a href="#" class="button">Learn More</a></li>
</ul-->
                </section><!-- Footer-->
                <section id="footer">
                    <ul class="icons">
                        <li><a class="fa-twitter" href="https://twitter.com/MoleculerJS"><span
                                    class="label">Twitter</span></a></li>
                        <li><a class="fa-github" href="https://github.com/moleculerjs"><span
                                    class="label">Github</span></a></li>
                        <li><a class="fa-envelope" href="mailto:hello@moleculer.services"><span
                                    class="label">Email</span></a></li>
                    </ul>
                    <p class="copyright">© Moleculer Project. Design: <a href="http://html5up.net">HTML5 UP</a>. Images:
                        <a href="http://unsplash.com">Unsplash</a>.</p>
                </section>
            </section>
        </div>
    </div>
    <section id="menu">
        <!-- Search-->
        <section>
            <form id="search" method="get" action="/search"><input type="text" name="query" placeholder="Search"></form>
        </section><!-- Links-->
        <section>
            <ul class="links">
                <li><a href="/category/General">
                        <h3>General</h3>
                    </a></li>
                <li><a href="/category/Tech">
                        <h3>Tech</h3>
                    </a></li>
                <li><a href="/category/Social">
                        <h3>Social</h3>
                    </a></li>
                <li><a href="/category/News">
                        <h3>News</h3>
                    </a></li>
            </ul>
        </section><!-- Actions-->
        <section>
            <ul class="actions vertical">
                <li><a class="button big fit" href="#">Log In</a></li>
            </ul>
        </section>
    </section>
</body>

</html>