<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Viewer</title>
        <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="">
    <div id="app">
        <div id="wrapper">
            <header id="header">
                <h1><a href="/">Tech Viewer</a></h1>
                <nav class="links">
                    <ul>
                        <li><a href="/category/Distributed Architecture">Distributed Architecture</a></li>
                        <li><a href="/category/Deep learning">Deep learning</a></li>
                        <li><a href="/category/Database">Database</a></li>
                        <li><a href="/category/Others">Others</a></li>
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search"><a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" action="/search"><input type="text" name="query"
                                    placeholder="Search"></form>
                        </li>
                        <li class="menu"><a class="fa-bars" href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>
            <div id="main">
                <section id="intro"><a class="logo" href="#"><img src="/images/logo.png" alt=""></a>
                    <header>
                        <h2><a href="/">Tech Viewer</a></h2>
                        <p>Blog about computer Technology making easier learning</a></p>
                    </header>
                </section>
                <section>





                    <section>
                       Welcome!
                    </section>



                    
                </section>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.4"></script>
    <script src="https://unpkg.com/moment@2.18.1"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!-- Scripts-->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
    <section id="menu">
        <!-- Search-->
        <!-- Links-->
        <section>
            <ul class="links">
                <li><a href="/category/Distributed Architecture">
                        <h3>Distributed Architecture</h3>
                    </a></li>
                <li><a href="/category/Deep learning">
                        <h3>Deep learning</h3>
                    </a></li>
                <li><a href="/category/Database">
                        <h3>Database</h3>
                    </a></li>
                <li><a href="/category/Others">
                        <h3>Others</h3>
                    </a></li>
            </ul>
        </section><!-- Actions-->

    </section>
</body>