<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Viewer</title>
        <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="">
    <% 
    var user = {
        username:'0'
    };

    if(ifLogin){
        user = currentUser[0];
    }
%>
    <div id="app">
        <div id="wrapper">
            <header id="header">
                <h1><a href="/hasLogin/<%= user.username %>/<%= ifLogin %>">Tech Viewer</a></h1>
                <nav class="links">
                    <ul>
                        <li><a href="/category/Distributed Architecture/<%= user.username %>/<%= ifLogin %>">Distributed Architecture</a></li>
                        <li><a href="/category/Deep Learning/<%= user.username %>/<%= ifLogin %>">Deep learning</a></li>
                        <li><a href="/category/Database/<%= user.username %>/<%= ifLogin %>">Database</a></li>
                        <li><a href="/category/Others/<%= user.username %>/<%= ifLogin %>">Others</a></li>
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search"><a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" action="/search/<%= user.username %>/<%= ifLogin %>"><input type="text" name="query"
                                    placeholder="Search"></form>
                        </li>
                        <li class="menu"><a class="fa-bars" href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>
            <div id="main">
                <section id="intro"><a class="logo" href="#"><img src="/images/logo.png" alt=""></a>
                    <header>
                        <h2><a href="/">Tech Viewer</a></h2>
                        <p>Blog about computer Technology making easier learning</a></p>
                    </header>
                </section>
                <section>




                    <% for(var i in posts){var like=posts[i]; %>
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2><a href="/post/<%= encodeObjectID(like.post._id) %>/<%= slugify(like.post.title) %>"><%= post.title %></a></h2>
                                <p><%=  truncateContent(post.content) %></p>
                            </div>
                            <div class="meta">
                                <time class="published"><%= moment(like.post.createdAt).format('LLL') %></time>
                            </div>
                        </header>
                        <footer>
                            <ul class="stats">
                                <li><a href="/category/<%= post.category %>/<%= user.username %>/<%= ifLogin %>"><%= post.category %></a></li>
                            </ul>
                        </footer>
                    </article>
                    <% } %>


                    
                </section>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.17.4"></script>
    <script src="https://unpkg.com/moment@2.18.1"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!-- Scripts-->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
    <section id="menu">
        <!-- Search-->
        <!-- Links-->
        <section>
            <ul class="links">
                <li><a href="/category/Distributed Architecture/<%= user.username %>/<%= ifLogin %>">
                        <h3>Distributed Architecture</h3>
                    </a></li>
                <li><a href="/category/Deep Learning/<%= user.username %>/<%= ifLogin %>">
                        <h3>Deep learning</h3>
                    </a></li>
                <li><a href="/category/Database/<%= user.username %>/<%= ifLogin %>">
                        <h3>Database</h3>
                    </a></li>
                <li><a href="/category/Others/<%= user.username %>/<%= ifLogin %>">
                        <h3>Others</h3>
                    </a></li>
            </ul>
        </section><!-- Actions-->
        <% if(ifLogin){ %>
            <section>
            <ul class="actions vertical">
                <li><a>Welcome!<i class="icon fa fa-home"></i>
                    <%= user.fullName %>
                </a></li>
                <li><a class="button big fit" href="/">Log Out</a></li>
            </ul>
            </section>
            
        <% }else{ %>
        <section>
            <ul class="actions vertical">
                <li><a class="button big fit" href="/loginPage">Log In</a></li>
            </ul>
        </section>
        <% } %>
    </section>
</body>