<section id="menu">
  <!-- Search-->
  <section>
    <form id="search" method="get" action="/search">
      <input type="text" name="query" placeholder="Search"/>
    </form>
  </section>
  <!-- Links-->
  <section>
    <ul class="links">     
      <li><a href="/category/Distributed Architecture">
          <h3>Distributed Architecture</h3></a></li>
      <li><a href="/category/Deep learning">
          <h3>Deep learning</h3></a></li>
      <li><a href="/category/Database">
          <h3>Database</h3></a></li>
      <li><a href="/category/Others">
          <h3>Others</h3></a></li>
    </ul>
  </section>
  <!-- Actions-->
  <section>
    <ul class="actions vertical">
      <li><a class="button big fit" href="#">Log In</a></li>
    </ul>
  </section>
</section>