<section id="menu">
  <!-- Search-->
  <section>
    <form id="search" method="get" action="/search">
      <input type="text" name="query" placeholder="Search"/>
    </form>
  </section>
  <!-- Links-->
  <section>
    <ul class="links">     
      <li><a href="/category/General">
          <h3>General</h3></a></li>
      <li><a href="/category/Tech">
          <h3>Tech</h3></a></li>
      <li><a href="/category/Social">
          <h3>Social</h3></a></li>
      <li><a href="/category/News">
          <h3>News</h3></a></li>
    </ul>
  </section>
  <!-- Actions-->
  <section>
    <ul class="actions vertical">
      <li><a class="button big fit" href="#">Log In</a></li>
    </ul>
  </section>
</section>